.form-register {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
    border-radius: 6px;
    max-width: 290px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-register {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.p-register {
    font-size: 13px;
    color: black;
    margin-top: 15px;
    text-align: center;
}

input {
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    border: none;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}

.button-register {
    padding: 8px 15px;
    background-color: hsl(70, 62%, 50%);
    color: white;
    border: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}

.button-register:hover {
    cursor: pointer;
    border-radius: 16px;
}

a:link.link-register {
    color: black;
    font-size: 12px;
}

a:hover.link-register {
    cursor: pointer;
    color: hsl(70, 62%, 50%);
}

a:visited.link-register {
    color: black;
}