.form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
    border-radius: 6px;
    max-width: 290px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-register {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}

.p-register {
    font-size: 13px;
    color: black;
    margin-top: 15px;
}

a:link.link-register {
    color: hsl(218, 100%, 62%);
    font-size: 12px;
}

a:hover.link-register {
    cursor: pointer;
    color: black;
}

a:visited.link-register {
    color: black;
}