.article-dessert {
    padding: 30px;
    margin: 15px 15px;
    border-radius: 6px;
    max-width: 290px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}

.img-dessert {
    width: 100%;
    margin-bottom: 15px;
}

.h2-dessert {
    text-align: center;
    margin-bottom: 15px;
}

a:link.link-dessert {
    color: hsl(350, 100%, 67%);
    font-size: 12px;
}

a:hover.link-dessert {
    cursor: pointer;
    color: black;
}

a:visited.link-dessert {
    color: black;
}

.error-dessert {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: red;
}