.secret-container {
    display: flex;
    justify-content: center;
}

.article-secret {
    padding: 30px;
    margin: 15px 15px;
    border-radius: 6px;
    max-width: 1400px;
    max-height: 180px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}
.secret {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.h1-secret {
    padding: 5px 15px 0 10px;
}

.h2-secret {
    padding: 5px 15px 0 10px;
    color: hsl(300, 100%, 62%);
    font-size: 18px;
    margin-top: 5px;
}

.h2-p {
    padding: 5px 15px 0 10px;
    margin-top: 5px;
}