.home-container {
    /*flex-direction: row;*/
    /*align-items: center;*/
    display: flex;
    justify-content: center;
}

.article-home {
    padding: 30px;
    margin: 15px 15px;
    border-radius: 6px;
    max-width: 1000px;
    max-height: 400px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}

.img-home {
    width: 400px;
    height: 400px;
}

.p-home {
    margin-top: 15px;
}
