.article-vegan {
    padding: 30px;
    margin: 15px 15px;
    border-radius: 6px;
    max-width: 290px;
    background-color: white;
    box-shadow: 0 5px 15px 5px rgba(100, 100, 100, 0.5);
}

.img-vegan {
    width: 100%;
    margin-bottom: 15px;
}

.directions-vegan {
    font-size: 12px;
}

.title-vegan {
    text-align: center;
    margin-bottom: 15px;
}

a:link.link-vegan {
    color: hsl(120, 100%, 62%);
    font-size: 12px;
}

a:hover.link-vegan {
    cursor: pointer;
    color: black;
}

a:visited.link-vegan {
    color: black;
}

.error {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: red;
}